<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CaptionPal - Automatic Subtitle download and synchronization thanks to Machine Learning</title>
    <meta property="og:url"           content="https:/captionpal.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="CaptionPal - Automatic Subtitle download and synchronization tool. Get the perfect subtitle in a single click." />
    <meta property="og:description"   content="CaptionPal download from just the media's filename the right subtitle, and synchronizes it using a Machine Learning model to ensure you always get the right subtitle." />
    <meta property="og:image"         content="https://captionpal.org/logo.png" />

  </head>
  <body class="bg-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="logo.png" width="64" height="64" alt="CaptionPal">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#how-it-works">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#roadmap">Roadmap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#litterature">Litterature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#show-your-love">Show your love</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://gitlab.com/Overdrivr/autosync">The code</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container mt-5 mb-2">
      <div class="text-center">
        <h1 class="display-3">CaptionPal</h1>
        <h1 class="lead">Get the perfect subtitle, in a single click. Thanks, Machine Learning.</h1>
      </div>
      <div class="d-flex mt-4">
        <div class="ml-auto mr-auto">
          <a href="{{ download_url_win10 }}" target="_blank" type="button" class="btn btn-primary">Download (Win10)</a>
          <a href="{{ download_url_ubuntu18 }}" target="_blank" type="button" class="btn btn-primary">Download (Ubuntu 18)</a>
        </div>
      </div>
      <div class="d-flex mt-1">
        <div class="ml-auto mr-auto">
          <p class="lead small">version {{ captionpal_version }}</p>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div class="ml-auto mr-auto">
        <video controls width="800">
          <source src="caption_pal_demo.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-12 col-md-4">
          <h1 class="">
            Always in sync
          </h1>
          <h1 class="lead">
            CaptionPal uses a Machine Learning model to detect human speech. It synchronizes the subtitle by finding the delay and framerate that gives the best match between audio and subtitle.
          </h1>
        </div>

        <div class="col-12 col-md-4">
          <h1 class="">
            Automatic retrieval
          </h1>
          <h1 class="lead">
             CaptionPal uses your video's filename to find and download the right subtitle. No more browsing the web.
          </h1>
        </div>

        <div class="col-12 col-md-4">
          <h1 class="">
            Open-source
          </h1>
          <h1 class="lead">
            This application is free and entirely open-source, released under GNU GPL v3.
          </h1>
        </div>
      </div>
    </div>

    <div class="container">
        <a name="how-it-works"></a>
        <h4 class="mt-5">
          How it works
        </h4>
        <p>
          CaptionPal integrates a Machine Learning model capable of detecting human speech inside an audio track (with an accuracy of ~ 82%). Final syncronization <b>is highly accurate</b> though, because errors are compensated with the length of the video.
        </p>
        <p>
          The <a href="https://gitlab.com/Overdrivr/autosync/blob/master/autosync/train.py#L63" target="_blank">model</a> has been trained with approximately 3 hours of English audio from two television series. The dataset is properly balanced between audio and non-audio sequences.
        </p>
        <p>
          Thanks to this model, CaptionPal approximately knows in any video when there is human speech and when there is not. Although it's been trained with English audio, it is likely that this will work in other languages, supposing that human speech shares similar characteristics independently of the tongue. This remains to be verified.
        </p>
        <p>
          Synchronization is then done by <a href="https://gitlab.com/Overdrivr/autosync/blob/master/autosync/sync.py#L14" target="_blank">aligning the detected speech with the subtitle</a>.
          </br>
          This is performed using a quick brute-force search to find the best combination of subtitle delay and framerate.
        </p>
    </div>

    <div class="container">
        <a name="roadmap"></a>
        <h4 class="mt-5">
          Roadmap
        </h4>
        <p>
          Several improvements are planned on the roadmap:
          <ul>
            <li>
              MacOS build
            </li>
            <li>
              Release regular Unix packages (.deb, .rpm) instead of self-contained packaged binaries
            </li>
            <li>
              Identify languages for which the speech model might not be working and train it with it.
            </li>
            <li>
              Identify if TV-series contain an introduction summary, and find a subtitle that contains one as well.
            </li>
            <li>
              Add option to find hearing impaired subtitles on user-demand
            </li>
            <li>
              Also retrieve subtitles for movies, not just TV shows (currently only TV-shows are supported)
            </li>
        </p>
    </div>

    <div class="container">
        <a name="litterature"></a>
        <h4 class="mt-5">
          Litterature
        </h4>
        <p>
          This application has been inspired by a few sources. Credits where it's due:
        </p>
        <ul>
          <li>
            <a href="https://machinelearnings.co/automatic-subtitle-synchronization-e188a9275617">
              https://machinelearnings.co/automatic-subtitle-synchronization-e188a9275617
            </a>
          </li>
          <li>
            <a href="http://www.practicalcryptography.com/miscellaneous/machine-learning/guide-mel-frequency-cepstral-coefficients-mfccs/">
              http://www.practicalcryptography.com/miscellaneous/machine-learning/guide-mel-frequency-cepstral-coefficients-mfccs/
            </a>
          </li>
        </ul>
    </div>

    <div class="container">
        <a name="show-your-love"></a>
        <h4 class="mt-5">
          Show your love
        </h4>
        <!-- Twitter button -->
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="CaptionPal - Get the perfectly sync&#39;ed subtitle, in a single click. Thanks ML." data-url="https://captionpal.org" data-via="CaptionPal" data-hashtags="subtitles #machinelearning" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- End of Twitter button -->
        <!-- Facebook button -->
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fcaptionpal.org&layout=button&size=small&width=72&height=20&appId" width="72" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        <!-- End of Facebook button -->

        <p>
          This application could not be possible without the constant hard work from the people writing the subtitles.
          </br>
          CaptionPal fetches TV-series subs from <a href="https://www.addic7ed.com">https://www.addic7ed.com</a>.
          Feel free to consider making a donation to them.
          </br>
          If you want to make a donation to CaptionPal, consider making one to a charity instead or <a href="https://gitlab.com/Overdrivr/autosync">star the project on Gitlab</a>.
          </br>
          Or if you can code, contributions are welcomed!
        </p>
    </div>

    <section id="footer">
  		<div class="container mt-5 pt-5">
        <p class="text-center" style="font-size: 0.8em;">
          Created by <a href="https://www.linkedin.com/in/remibeges/">Rémi Bèges</a> (remi.beges@gmail.com)
          </br>
          Copyright © 2019 Rémi Bèges.
          </br>
          All rights reserved.
        </p>
  		</div>
  	</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Ticksel v1.0 -->
    <script type="text/javascript">
      var _tcfg = _tcfg || [];
      (function() {
        _tcfg.push(["tags", ""]);
        var u="https://cdn.ticksel.com/js/analytics_v1.0.js"; _tcfg.push(["account_id", 8578327]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
        g.type="text/javascript"; g.async=true; g.src=u; g.setAttribute("crossorigin", "anonymous");
        g.setAttribute("integrity", "sha256-7grd8jMivCG0iCcJ7m/Ny4gvWb0mPVpFhRQovLkaUl8=");
        s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><img src="https://beacon.ticksel.com/beam?account_id=8578327&referrer=&tags=" style="border:0;" width="0" height="0" alt="" /></noscript>
    <!-- End Ticksel Code -->

  </body>
</html>
